IyBDb21waWxlZCBjbGFzcyBmaWxlcwqyLmNsYXNzCnRhcmdldC8KIXRhcmdldC9hY2NvdW50aW5nLWRldi5qYXIKCiMgSW50ZWxsaUogSURFQQouaWRlYS8KKi5pbWwKKi5pd3MKb3V0LwoKIyBWUyBDb2RlCi52c2NvZGUvCgojIEVjbGlwc2UKLnByb2plY3QKLmNsYXNzcGF0aAouc2V0dGluZ3MvCgojIE9TCi5EU19TdG9yZQpUaHVtYnMuZGIKCiMgTG9ncwqyLmxvZwpsb2dzLwoKIyBMb2NhbCBjb25maWcgd2l0aCBzZWNyZXRzCmFwcGxpY2F0aW9uLWxvY2FsLnltbAphcHBsaWNhdGlvbi1sb2NhbC5wcm9wZXJ0aWVzCi5lbnYKCiMgTmVvNGoKbmVvNGovZGF0YS8KbmVvNGovbG9ncy8KCiMgS2Fma2EKa2Fma2EtbG9ncy8KCiMgTWF2ZW4KLm12bi90aW1pbmcucHJvcGVydGllcwoubXZuL3dyYXBwZXIvbWF2ZW4td3JhcHBlci5qYXIK